{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-4 d-flex justify-content-center">

            <h1 class="mt-4">Patchnote</h1>
    </div>
    <div class="card bg-light shadow mt-4">
        <div class="card-header bg-primary text-white">
            <h4 class="m-0">Version Bêta</h4>
        </div>
            <div class="card-body">
                <p class="card-text">
                    Bienvenue sur MyNBA, la toute nouvelle application qui vous ramène en 2018-2019 pour vous remémorer
                    l'historique saison de Toronto ou encore la saison calamiteuse de New York.
                    L'application est en version bêta et donc de nombreuses fonctionnalités ne sont pas en état de
                    fonctionnement. Actuellement, vous pouvez consulter les résultats de la saison régulière de la saison
                    2018-2019, vous pouvez regarder les classements finaux de la saison régulière. Vous pouvez également
                    vous connecter afin de choisir votre équipe favorite pour voir les infos détaillées de celles-ci.
                    Merci à vous et revenez pour voir la v1 voir le jour. !
                </p>
            </div>
            <div class="card-footer bg-light">
                <small class="text-muted">Publié le 14/08/2023 par Alexis Guillermain</small>
            </div>
        </div>
{% endblock %}
