{% extends 'base.html.twig' %}

{% block body %}

    <div class="container mt-4">
        <div class="d-flex justify-content-center">
            <h1>Choisissez votre équipe préférée</h1>
        </div>
        <div class="row mt-3">
            {% for team in teams['data'] %}
            <div class="col-md-3 mb-3">
                <a href="#" class="border p-3 d-block text-decoration-none text-dark pointer team-link" data-team-id="{{ team.id }}"
                   style="background-color: {{ colorList[(loop.index - 1) % colorList|length] }};">
                    {{ team['full_name'] }}
                </a>
            </div>
            {% if loop.index % 4 == 0 %}
        </div><div class="row mt-3">
            {% endif %}
            {% endfor %}
        </div>
    </div>
    {% block javascripts %}
        <script>
            const teamLinks = document.querySelectorAll('.team-link');

            teamLinks.forEach(link => {
                link.addEventListener('click', function () {
                    const teamId = link.getAttribute('data-team-id');
                    if (teamId) {
                        window.location.href = "{{ path('app_my_team.team_details', {'id': 'teamId'}) }}".replace('teamId', teamId);
                    }
                });
            });
        </script>
    {% endblock %}


{% endblock %}
