{% extends 'base.html.twig' %}

{% block body %}
    <div class="conference">
        <h2 class="mt-4">CONFÉRENCE EST</h2>
        <table class="table table-bordered mt-4">
            <thead>
            <tr>
                <th>#</th>
                <th>EQUIPES</th>
                <th>J</th>
                <th>V</th>
                <th>P</th>
                <th>%</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>Milwaukee Bucks</td>
                <td>82</td>
                <td>60</td>
                <td>22</td>
                <td>73.2%</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Toronto Raptors</td>
                <td>82</td>
                <td>58</td>
                <td>24</td>
                <td>70.7%</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Philadephia 76ers</td>
                <td>82</td>
                <td>51</td>
                <td>31</td>
                <td>62.2%</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Boston Celtics</td>
                <td>82</td>
                <td>49</td>
                <td>33</td>
                <td>59.8%</td>
            </tr>
            <tr>
                <td>5</td>
                <td>Indiana Pacers</td>
                <td>82</td>
                <td>48</td>
                <td>34</td>
                <td>58.5%</td>
            </tr>
            <tr>
                <td>6</td>
                <td>Brooklyn Nets</td>
                <td>82</td>
                <td>42</td>
                <td>40</td>
                <td>51.2%</td>
            </tr>
            <tr>
                <td>7</td>
                <td>Orlando Magic</td>
                <td>82</td>
                <td>42</td>
                <td>40</td>
                <td>51.2%</td>
            </tr>
            <tr>
                <td>8</td>
                <td>Detroit Pistons</td>
                <td>82</td>
                <td>41</td>
                <td>41</td>
                <td>50%</td>
            </tr>
            <tr>
                <td>9</td>
                <td>Charlotte Hornets</td>
                <td>82</td>
                <td>39</td>
                <td>43</td>
                <td>47.6%</td>
            </tr>
            <tr>
                <td>10</td>
                <td>Miami Heat</td>
                <td>82</td>
                <td>39</td>
                <td>43</td>
                <td>47.6%</td>
            </tr>
            <tr>
                <td>11</td>
                <td>Washington Wizards</td>
                <td>82</td>
                <td>32</td>
                <td>50</td>
                <td>39%</td>
            </tr>
            <tr>
                <td>12</td>
                <td>Atlanta Hawks</td>
                <td>82</td>
                <td>29</td>
                <td>53</td>
                <td>35.4%</td>
            </tr>
            <tr>
                <td>13</td>
                <td>Chicago Bulls</td>
                <td>82</td>
                <td>22</td>
                <td>60</td>
                <td>28.6%</td>
            </tr>
            <tr>
                <td>14</td>
                <td>Cleveland Cavaliers</td>
                <td>82</td>
                <td>19</td>
                <td>63</td>
                <td>23.2%</td>
            </tr>
            <tr>
                <td>15</td>
                <td>New York Knicks</td>
                <td>82</td>
                <td>17</td>
                <td>65</td>
                <td>20.7%</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="conference">
        <h2 class="mt-4">CONFÉRENCE OUEST</h2>
        <table class="table table-bordered mt-4">
            <thead>
            <tr>
                <th>#</th>
                <th>EQUIPES</th>
                <th>J</th>
                <th>V</th>
                <th>P</th>
                <th>%</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>Golden State Warriors</td>
                <td>82</td>
                <td>57</td>
                <td>25</td>
                <td>69.5%</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Denver Nuggets</td>
                <td>82</td>
                <td>54</td>
                <td>28</td>
                <td>65.9%</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Portland Trail Blazers</td>
                <td>82</td>
                <td>53</td>
                <td>29</td>
                <td>64.6%</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Houston Rockets</td>
                <td>82</td>
                <td>53</td>
                <td>29</td>
                <td>64.6%</td>
            </tr>
            <tr>
                <td>5</td>
                <td>Utah Jazz</td>
                <td>82</td>
                <td>50</td>
                <td>32</td>
                <td>61%</td>
            </tr>
            <tr>
                <td>6</td>
                <td>Oklahoma City Thunder</td>
                <td>82</td>
                <td>49</td>
                <td>33</td>
                <td>59.8%</td>
            </tr>
            <tr>
                <td>7</td>
                <td>San Antonio Spurs</td>
                <td>82</td>
                <td>48</td>
                <td>34</td>
                <td>58.5%</td>
            </tr>
            <tr>
                <td>8</td>
                <td>LA Clippers</td>
                <td>82</td>
                <td>48</td>
                <td>34</td>
                <td>58.5%</td>
            </tr>
            <tr>
                <td>9</td>
                <td>Sacramento Kings</td>
                <td>82</td>
                <td>39</td>
                <td>43</td>
                <td>47.6%</td>
            </tr>
            <tr>
                <td>10</td>
                <td>Los Angeles Lakers</td>
                <td>82</td>
                <td>37</td>
                <td>45</td>
                <td>45.1%</td>
            </tr>
            <tr>
                <td>11</td>
                <td>Minnesota Timberwolves</td>
                <td>82</td>
                <td>36</td>
                <td>46</td>
                <td>43.9%</td>
            </tr>
            <tr>
                <td>12</td>
                <td>Memphis Grizzlies</td>
                <td>82</td>
                <td>33</td>
                <td>49</td>
                <td>40.2%</td>
            </tr>
            <tr>
                <td>13</td>
                <td>New Orleans Pelicans</td>
                <td>82</td>
                <td>33</td>
                <td>49</td>
                <td>40.2%</td>
            </tr>
            <tr>
                <td>14</td>
                <td>Dallas Mavericks</td>
                <td>82</td>
                <td>33</td>
                <td>49</td>
                <td>40.2%</td>
            </tr>
            <tr>
                <td>15</td>
                <td>Phoenix Suns</td>
                <td>82</td>
                <td>19</td>
                <td>63</td>
                <td>23.2%</td>
            </tr>
            </tbody>
        </table>
    </div>

{% endblock %}
